/* UNITS */

/* #box{
    font-size: 15px;
    height:200px;
    width:200px;
    background-color: blueviolet;
}
#box1{
    height:10%;
    width:10%;
    background-color: brown;
}
#box2{
    font-size:2em;
    height:2em;
    width:3rem;
    background-color: yellowgreen;
}
#box3{
    height:5vh;
    width:5vw;
    background-color: gold;
} */

/* POSITION */

#box1{
    height: 100px; width:100px;
    position:static;
    background-color: brown;
     background-image: url=("giraffe_img.jpg");
        background-size: cover;

}
#box2{
    height: 100px; width:100px;
    position:relative;
    top:20px; left: 10px;
    z-index:2;
    background-color: rgb(50, 205, 153);
}
#box3{
    height: 100px; width:100px;
    position:absolute;
    top:20px; left: 20px; z-index: -3;
    background-color: gold;
}
#box4{
    position:fixed;
    bottom:0;  
    height:15px;   width:100vw;
    text-align:center;   font-size: 15px;
    background-color: darkmagenta;
}
#box5{
    height: 100px; width:100px;
    position:sticky;
    top:0;   right:20px;
    background-color: deeppink;
}