<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
       <h1>My Portfolio</h1>
    </header>
    <main>
    <section>Education: B.Tech from MANIT</section>
    <section>Project: HTML</section>
    <article>My motivation: My parents</article>
    <a href="https://www.google.com/"target="_main">Google</a> <br>  <!--For new tab-->
    <!-- img to pg -->
     <a href="https://open.spotify.com/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Spotify_App_Logo.svg/960px-Spotify_App_Logo.svg.png?20210620075506" height="100" alt="spotify"></a>
    <aside>This is an ad</aside>
    <!-- div -->
    <div>
        <p>This is div</p>
        <p>Hello</p>
        <p>Hii</p>
    </div>
    <div>
        <p>Bye</p>
        <p>GN</p>
    </div>
    <!-- list -->
     <ol>
    <li>Apple</li>
     <ul>
        <li>Red</li>
        <li>Sweet</li>
     </ul>
    <li>Mango</li>
    <ul>
        <li>Yellow</li>
        <li>Sweet</li>
    </ul>
     </ol>
     <!-- tables n captio -->
      <caption>Student Data</caption>
      <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Roll No.</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Prarthana</td>
            <td>48</td>
        </tr>
        <tr>
            <td>Chinna</td>
            <td>46</td>
        </tr>
        </tbody>
      </table> <br>
      <!-- colpsan -->
       <table>
        <tr>
            <th colpsan="2">Student Info</th>
        </tr>
        <tr>
            <td>Prarthana</td>
            <td>48</td>
        </tr>
      </table> <br>
      <!-- form -->
      <form action="/action.php">
        <input type="text" placeholder="Enter name">
      <!-- label -->
        <h5>Class</h5>
        <input type="radio" value="X" name="Class">Class X <!--ye jo class X likha ye saamne dikhega aur backend me jo value likhi h usme save hoga-->
        <br>
        <input type="radio" value="XII" name="Class">Class XII <br>
      <!-- checkbox -->
       <h5>Subject</h5>
        <input type="checkbox" value="phy" name="subject" id="101">Physics <br>
        <input type="checkbox" value="chem" name="subject" id="102">Chemistry  <br>
        <input type="checkbox" value="maths" name="subject" id="103">Maths   <br><br>
      <!-- textarea -->
        <textarea name="feedback" id="108" placeholder="Enter your feedback here.." row="4">feedback</textarea><br><br>
       <!-- select -->
        Select your city
        <select name="city">
            <option value="Dhar">Dhar</option>
            <option value="Indore">Indore </option>
            <option value="Ujjain">Ujjain</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
         </form>
         <br><br>
         <!-- iframe -->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/HcOc7P5BMi4?si=nQuUO0nNQfLWqdZ1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          <br><br>
          <iframe width="560" height="315" src="https://www.wikipedia.org/"></iframe>  <!--wikipidea-->

          <!-- <video src="/name.mov" controls>my vdo</video>     save vdo to vscode then use this controls its for playing vdo -->
           <!-- other attributes controls loop, controls auto -->
   </main>
    <footer>
    <h5>contact: abcd@hello.com </h5>
    </footer>
</body>
</html>