*{
    margin:0px;
    padding:0px;
}
body{
    background-color: #dde392;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#gameBox{
    height:60vmin;
    width:60vmin;
    margin:25px 0px 40px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: space-evenly; */
    gap:2.5vmin;
    z-index: -1;
    }
.box{
    height: 18vmin;
    width:18vmin;
    background-color: #ffb703;
    color:#023047;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 4rem;
    border:none;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 5px 10px #fb8500;
    text-align: center;
    align-content: center;
    }
.resetGame{
    /* height:6vmin;
    width:10vmin; */
    padding:1rem;
    text-align: center;
    align-content: center;
    font-weight: 700;
    background-color: darkslategray;
    color: white;
    border-radius: 5px;
}
#Game{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 50vh;*/
} 
#win{
    width: 100vw;
}
.hide{
    visibility: hidden;

}
.show{
    margin-bottom: 10px;
    background-color: darkslategray;
    text-align: center;
    align-content: center;
    color:white;
    border-radius:5px;
    padding: 2vmin;
    visibility: visible;
}
/* #restart{
    margin-bottom:50vh;
    margin-top: 50vh;
} */

/* .restart{
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #023047;
    text-align: center;
    align-content: center;
    color:white;
    border-radius:5px;
    padding: 2vmin;
     visibility: visible;
} */
