header{
    background-color: #0f1111;
    color:white;
    height:60px;
}
a{
    margin-right: 200px;
}
button{
    background-color: chocolate;
}
#app{
    color:chocolate;
    font-size: 25px;
}
.c{
    height:100px;
    width:100px;
   border:2px solid grey;
  
}
#c1{
    background-color: rgba(0, 47, 255, 0.5);
}
#c2{
    background-color: rgba(255, 0, 200, 0.5);
}
#c3{
    background-color: rgba(0, 255, 85, 0.5);
}
footer{
    text-align:center;
}