 /* div{
  height:100px; width:100px;
  background-color: chartreuse;
  margin:20px;
  transition: all 3s ease-out .25s;
  position:relative;
  left:50px; top:50px; */
  /* transform: rotate(90deg);
   scale:(2);  */
  /* transform:skew(80deg); 
 }  */

 div:hover{
    background-color: rgb(14, 164, 51);
    font-size: 20px;
    transform: translate(40px);
}
div:active{
     background-color: rgb(230, 112, 38);
    font-size: 25px;
}  

#new{
    height:100px; 
    width:100px; border-radius:50%;
    background-color: blueviolet;
    animation:firstanimate .20s none 0s infinite normal;

} 
  @keyframes firstanimate{
  0%{background-color: blueviolet; }
  50%{background-color: rgb(237, 17, 17); }
  100%{background-color: chartreuse;}
} 
